.clear-fix{
    clear: both;
}
.container{
    width: 1200px;
    height: 1200px;
    background-color: aqua;
    margin: 0 auto;
    position: relative;
}
.head{
    /* background-color: aliceblue; */
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 300px;
    width: 600px;
    text-align: center;
}
.content{
    text-align: center;
    width: 1000px;
    height: 500px;
    position: relative;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: white;
}
.content-head{
    font-size: 30px;
    width: 600px;
    position: absolute;
    top: 20px;
    left: 200px;
    /* text-align: center; */
}
.content-text{
    position: absolute;
    top: 80px;
    left: 100px;
    width: 800px;
    font-size: 20px;
}
.content-chuyen{
    /* background-color: red; */
    width: 80%;
    height: 250px;
    position: relative;
    position: absolute;
    top: 200px;
    left: 10%;
}
.picture{
    width: 100%;
    height: 100%;
}
.chuyen-phantram-start{
    width: 22%;
    height: 100%;
    margin-right: 2%;
    margin-left: 3%;
    float: left;
}
.chuyen-phantram{
    width: 22%;
    height: 100%;
    margin-right: 2%;
    float: left;
}
.chuyen-phantram-end{
    width: 22%;
    height: 100%;
    margin-right: 3%;
    float: left;
}
.chuyen-text{
    margin-top: 10px;
    font-size: 22px;
}
.footer{
    width: 1000px;
    height: 500px;
    background-color: white;
    position: relative;
    position: absolute;
    top: 650px;
    left: 100px;
}
.footer-head{
    font-size: 30px;
    width: 600px;
    position: absolute;
    top: 20px;
    left: 200px;
    text-align: center;
}
.footer-text{
    position: absolute;
    top: 80px;
    left: 100px;
    width: 800px;
    font-size: 20px;
    text-align: center;
}
.footer-thanh{
    width: 80%;
    height: 50%;
    /* background-color: red; */
    position: relative;
    position: absolute;
    top: 180px;
    left: 100px;
}
.thanh-part-1{
    width: 40%;
    height: 50%;
    float: left;
    margin-right: 10%;
    /* background-color: red; */
}
.thanh-part{
    width: 40%;
    height: 50%;
    float: left;
    /* background-color: red; */
}
.part-text{
    float: left;
}
.phan-tram{
    float: right;
}
.t{
    width: 100%;
    height: 30px;
}