.clear-fix{
    clear: both;
}
.container{
    width: 1200px;
    height: 1000px;
    position: relative;
    margin: 0 auto;
    background-color: aquamarine;
}
.content{
    width: 1000px;
    position: relative;
    position: absolute;
    top: 10px;
    left: 100px;
    background-color: white;
    height: 950px;
}
.head{
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 100px;
    width: 800px;
    text-align: center;
}
.convert{
    width: 100%;
    height: 650px;
    position: absolute;
    top: 80px;
    background-color: aqua;
}
.picture{
    width: 100%;
    height: 100%;
}
.convert-img{
    width: 32%;
    height: 200px;
    margin-bottom: 25px;
    float: left;
    position: relative;
    background-color: rgb(125, 125, 125);
}
.convert-img-middle{
    width: 32%;
    height: 200px;
    margin-bottom: 25px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative;
    background-color: rgb(125, 125, 125);
    /* background-color: red; */
}
.dau-cong{
    width: 20%;
    position: absolute;
    top: 30px;
    left: 40%;
}
.img-head{
    text-align: center;
    position: absolute;
    top: 110px;
    left: 30%;
    width: 40%;
    color: white;
}
.img-text{
    text-align: center;
    position: absolute;
    top: 130px;
    left: 30%;
    width: 40%;
    color: white;
}
.hinh-60{
    width: 100%;
    height: 60%;
}
.noidung{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.button{
    position: absolute;
    bottom: 90px;
    left: 300px;
    width: 400px;
    text-align: center;
}
.chinh{
    width: 200px;
    height: 50px;
}