@charset "utf-8";
/* CSS Document */


.Meunucap1 a:hover{
			color:#09C;
			}
			
.Meunucap1 {
			margin: 0px;			
			list-style-type:none;
			position:relative;	
			
			}
			
.Meunucap1 li {
			float:left;
			padding:3px;
			margin: 0;
			}

.Meunucap1 li a{
				text-decoration:none;
				color:#3CF;
				display:block;
				
				}
.Meunucap1 li:hover ul {
						display:block;
						position:absolute;
						padding:0px;
								}	
.Menucap2 {
			display:none;
			text-decoration:none;
			list-style-type:none;
			
		}
.Menucap2 li{
			float:none;
			margin: 2px;
			text-align:left;
			background:#999;
			padding:0px;
			
	}
.Menucap2 li a{
			border-top: 2px #666 solid;	
			Margin: 2px 2px 5px 0px;
	}

			