<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kiến trúc</title>


  <!-- link css bootstrap -->
  <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.css" type="text/css">
  <!-- link css architecture -->
  <link rel="stylesheet" href="../css/architecture.css" type="text/css">
</head>

<body>

  <!-- start -->
  <!-- start head -->
  <!-- start navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0B409C;">
    <div class="container p-1">
      <a class="navbar-brand ps-5" href="../../index.html">
        <div>
          <img src="../img/logo.png" class="logo img-fluid" alt="">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav pe-5 ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../../index.html">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="landscape.html">Phong cảnh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="culinary.html">Ẩm thực</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="festival.html">Lễ hội</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="architecture.html">Kiến trúc</a>
          </li>
          <li class="mx-5"></li>
          <li class="nav-item">
            <a class="nav-link" href="form.html">
              <button class="py-1 px-3 btnLogin">Đăng nhập</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- end head -->

  <!-- start body -->
  <div class="container" id="adddata" v-for="Head in TextHead">

    <div>
      <img src="../img/architecture/1.jpg" class="img-fluid mt-3 introduction" alt="...">
    </div>

    <div class="intoduction text-center mt-5" v-for="Intro in Introduction">
      <h2>{{Intro.Heading}} </h2>
      <p class="mt-4 fs-3">{{Intro.Text}} </p>
    </div>
    <!-- start architectural -->
    <div class="architecture mt-5 text-center">
      <h2>{{Head.TextArchitecture}} </h2>
      <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4" v-for="Architectural in ArchitecturalContent">
          <div class="d-flex align-items-center justify-content-center mt-4">
            <div class="overflow-hidden box">
              <img :src="Architectural.Image" class="img-fluid picture" alt="">
              <div class="d-flex align-items-center justify-content-center flex-column px-5 content">
                <h3>{{Architectural.Name}} </h3>
                <p>{{Architectural.Text}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end architectural -->
    <div class="toparchitecture mt-5 text-center">
      <h2>{{Head.TopArchitecture}} </h2>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" v-for="Top in TopArchitectures">
          <div class="card my-3">
            <img :src="Top.Image" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <p class="card-text">{{Top.Text}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- start footer -->
    <div class="footer mt-5 p-3" v-for="Footer in FooterContent">
      <div class="box-container">
        <div class="row">
          <div class="col pt-2 ps-5">
            <h3>
              <span>{{Footer.Center}} </span>
            </h3>
            <h3 class="mt-4">
              <span>{{Footer.Head1}} </span>
            </h3>
            <p>{{Footer.p1}} </p>

          </div>
          <div class="col pt-2 ps-5">
            <h3>
              <span>
                {{Footer.Head2}}
              </span>
            </h3>
            <p class="mt-3">
              {{Footer.Name}} <span>{{Footer.FullName}} </span><br>
              {{Footer.TextID}} <span>{{Footer.ID}} </span> <br>
              {{Footer.Class}} <span>{{Footer.ClassName}} </span>
            </p>
          </div>
        </div>
      </div>
      <div class=" py-2 fs-1 text-center">
        <p>
          {{Footer.Create}} &copy; <span>{{Footer.FirstName}} </span> | {{Footer.TextTime}} <span>{{Footer.Time}}
          </span>
        </p>
      </div>
    </div>
    <!-- end footer -->
  </div>
  <!-- end -->

  <!-- link js bootstrap -->
  <script src="../../vendor/bootstrap/js/bootstrap.js"></script>
  <!-- link vue js -->
  <script src="../../vendor/vuejs/vue2.js"></script>

  <script>
    var vm = new Vue({
      el: '#adddata',
      data: {
        TextHead: [
            {
              TextArchitecture: 'Các kiến trúc',
              TopArchitecture: 'Top kiến trúc'
            }
        ],
        Introduction: [
          {
            Heading: 'Điểm danh loạt công trình kiến trúc độc đáo ở An Giang từng gây ấn tượng quốc tế',
            Text: 'Đặt chân đến miền Tây sao có thể bỏ lỡ những công trình kiến trúc độc đáo ở An Giang, mỗi địa điểm đều mang những ý nghĩa về lịch sử, văn hóa, con người thu hút khách du lịch trong và ngoài nước đến tham quan, tìm hiểu. Cùng đi qua các địa điểm tưởng chừng như xa lạ nhưng vô cùng quen thuộc này.'
          }
        ],
        ArchitecturalContent: [
          {
            Image: '../img/landscape/6.jpg',
            Name: 'Chùa Lầu',
            Text: 'Sở dĩ chùa còn được gọi là Chùa Lầu là bởi vì được xây dựng theo kiến trúc các tầng lầu xếp chồng lên nhau.'
          },
          {
            Image: '../img/architecture/6.jpg',
            Name: 'Cây cầu treo',
            Text: 'khám phá chùa Lầu miền Tây, bạn sẽ được chiêm ngưỡng một cây cầu treo hoàn toàn mới mẻ và xịn xò.'
          },
          {
            Image: '../img/architecture/5.jpg',
            Name: 'Nhà thờ Cù Lao Giêng',
            Text: 'Một công trình kiến trúc độc đáo ở An Giang theo kiểu Tây phương.'
          },
          {
            Image: '../img/architecture/4.jpg',
            Name: 'Thánh đường Masjid Jamiul Azhar',
            Text: 'Từng hàng bia đá giản dị khắc tên những người.'
          },
          {
            Image: '../img/architecture/1.jpg',
            Name: 'Chùa Xà Tón',
            Text: 'Những bảo tháp cổ kính, rêu phong đứng trầm mặc tôn vinh thêm cho vẻ đẹp xưa cũ của ngôi cổ tự.'
          },
          {
            Image: '../img/landscape/1.jpg',
            Name: 'Chùa Hang',
            Text: 'Chùa được chia thành nhiều tầng dọc theo lối cầu lộ thiên bên cạnh núi với những vách đá dựng đứng, hiểm trở.'
          }
        ],
        TopArchitectures: [
          {
            Image: '../img/landscape/6.jpg',
            Text: 'Sở dĩ chùa còn được gọi là Chùa Lầu là bởi vì được xây dựng theo kiến trúc các tầng lầu xếp chồng lên nhau, chụp ảnh ở đây đẹp chẳng kém gì đang ở xứ sở Phù Tang.'
          },
          {
            Image: '../img/architecture/5.jpg',
            Text: 'Trên cù lao khuất nẻo giữa sông Tiền, một công trình kiến trúc độc đáo ở An Giang theo kiểu Tây phương xuất hiện tại vùng sông nước như thế này làm cho nhiều người không khỏi ngạc nhiên và thích thú.'
          },
          {
            Image: '../img/landscape/1.jpg',
            Name: 'Chùa Hang',
            Text: 'Nét độc đáo của ngôi chùa không chỉ ở kiến trúc hoài cổ trầm tư mà còn ở thế đứng. Chùa được chia thành nhiều tầng dọc theo lối cầu lộ thiên bên cạnh núi với những vách đá dựng đứng, hiểm trở.'
          },
          {
            Image: '../img/architecture/2.jpg',
            Text: 'Ngay từ cổng bước vào, các cụm kiến trúc dàn trải và có vẻ đẹp riêng cuốn hút lữ khách đến thăm. Những bảo tháp cổ kính, rêu phong đứng trầm mặc tôn vinh thêm cho vẻ đẹp xưa cũ của ngôi cổ tự.'
          }
        ],
        FooterContent: [
          {
            Center: 'CanTho University Software Center (CUSC)',
            Head1: 'Thực hiện đồ án',
            p1: 'Lập trình web front-end',
            Head2: 'Thông tin người thực hiện:',
            Name: 'Họ và tên:',
            FullName: 'Huỳnh Nguyễn Thanh Điền',
            TextID: 'Mã số sinh viên:',
            ID: 'D21039',
            Class: 'Lớp:',
            ClassName: 'CP21SCF07',
            Create: 'Tạo bởi',
            FirstName: 'Thanh Điền',
            TextTime: 'Thời gian:',
            Time: '2021'
          }
        ]
      }
    })
  </script>





</body>

</html>