<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- link css bootstrap -->
    <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.css" type="text/css">
    <!-- link css self-writing -->
    <link rel="stylesheet" href="../css/form.css" type="text/css">
</head>

<body>

    <!-- start -->
    <!-- start head -->
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark text-center" style="background-color: #0B409C;">
        <div class="container p-1">
            <a class="navbar-brand ps-5" href="../../index.html">
                <div>
                    <img src="../img/logo.png" class="logo img-fluid" alt="">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav pe-5 ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../../index.html">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="landscape.html">Phong cảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="culinary.html">Ẩm thực</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="festival.html">Lễ hội</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="architecture.html">Kiến trúc</a>
                    </li>
                    <li class="mx-5"></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <!-- end head -->

    <!-- start body -->
    <div class="container" id="adddata">
        <!-- start login -->
        <div class="form text-center">
            <div class="mt-5 mb-3" style="color: red;">
                <span class="fs-1">Thanh Điền</span>
            </div>
            <div class="m-auto p-1 overflow-hidden formbox">
                <div class="mx-auto my-4 btnbox">
                    <div id="btn"></div>
                    <button type="button" class="py-3 px-3 btnclick" @click="login()">Đăng nhập</button>
                    <button type="button" class="py-3 px-3 btnclick" @click="register()">Đăng ký</button>
                </div>
                <div class="mt-5 logoicon">
                    <img src="../img/google.jpg" class="mx-2 img-fluid" alt="">
                    <img src="../img/facebook.jpg" class="mx-2 img-fluid" alt="">
                    <img src="../img/github.png" class="mx-2 img-fluid" alt="">
                </div>
                <form action="#" method="post" name="frmLogin" id="frmlogin" class="inputgroup">
                    <input type="hidden" name="token" value="D21039-01">
                    <input type="text" name="txtUser" id="txtuserLogin" class="inputfield" placeholder="Tài khoản" required v-model="userLogin">
                    <div class="alert alert-warning announce" v-if="announceUserLogin != ''">
                        {{announceUserLogin}}
                    </div>
                    <input type="password" name="txtPassword" id="txtpasswordLogin" class="inputfield" placeholder="Mật khẩu" required v-model="passwordLogin">
                    <div class="alert alert-warning announce" v-if="announceUserLogin != ''">
                        {{announcePassLogin}}
                    </div>
                    <input type="checkbox" name="chkLogin" id="chkLogin" class="my-4"><span>Nhớ mật khẩu</span>
                    <button type="button" class="btnsubmit" @click="TestLogin()">Đăng nhập</button>

                    <div class="alert alert-success mt-2 result" v-if="checkedLogin == true && error == false">
                        Bạn đã đăng nhập thành công
                    </div>
                </form>
                <form action="" method="post" name="frmRegister" id="frmregister" class="inputgroup">
                    <input type="hidden" name="token" value="D21039-02">
                    <input type="text" name="txtUser" id="txtuserRegister" class="inputfield" placeholder="Tài khoản" required v-model="userRegister">
                    <div class="alert alert-warning announce" v-if="announceUserRegister != ''">
                        {{announceUserRegister}}
                    </div>
                    <input type="password" name="txtPassword" id="txtpasswordRegister" class="inputfield" placeholder="Mật khẩu" required v-model="passwordRegister">
                    <div class="alert alert-warning announce" v-if="announcePassRegister != ''">
                        {{announcePassRegister}}
                    </div>
                    <input type="password" name="txtPassword" id="txtpasswordRegisterEnter" class="inputfield" placeholder="Nhập lại Mật khẩu" required v-model="passwordRegisterEnter">
                    <div class="alert alert-warning announce" v-if="announcePassRegisterEnter != ''" role="alert">
                        {{announcePassRegisterEnter}}
                        {{testPass}}
                    </div>
                    <input type="checkbox" name="chkRegister" id="chkregister" class="my-4"><span>Đồng ý điều khoản</span>
                    <button type="button" class="btnsubmit" @click="TestRegister()">Đăng ký</button>
                    <div class="alert alert-success mt-2 result" v-if="checkedRegister == true && error == false">
                        Bạn đã đăng ký thành công
                    </div>
                </form>
            </div>
        </div>
        <!-- end login-->

        <!-- start footer -->
        <div class="footer mt-5 p-3" v-for="Footer in FooterContent">
            <div class="box-container">
                <div class="row">
                    <div class="col pt-2 ps-5">
                        <h3>
                            <span>{{Footer.Center}} </span>
                        </h3>
                        <h3 class="mt-4">
                            <span>{{Footer.Head1}} </span>
                        </h3>
                        <p>{{Footer.p1}} </p>

                    </div>
                    <div class="col pt-2 ps-5">
                        <h3>
                            <span>
                                {{Footer.Head2}}
                            </span>
                        </h3>
                        <p class="mt-3">
                            {{Footer.Name}} <span>{{Footer.FullName}} </span><br>
                            {{Footer.TextID}} <span>{{Footer.ID}} </span> <br>
                            {{Footer.Class}} <span>{{Footer.ClassName}} </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class=" py-2 fs-1 text-center">
                <p>
                    {{Footer.Create}} &copy; <span>{{Footer.FirstName}} </span> | {{Footer.TextTime}}
                    <span>{{Footer.Time}} </span>
                </p>
            </div>
        </div>
        <!-- end footer -->
    </div>
    <!-- end body -->
    <!-- end -->

    <!-- link js bootstrap -->
    <script src="../../vendor/bootstrap/js/bootstrap.js"></script>
    <!-- link vue js -->
    <script src="../../vendor/vuejs/vue2.js"></script>

    <script>
        var vm = new Vue({
            el: '#adddata',
            data: {
                userLogin: '',
                passwordLogin: '',
                userRegister: '',
                passwordRegister: '',
                passwordRegister: '',
                passwordRegisterEnter: '',
                error: false,
                announceUserLogin: '',
                announcePassLogin: '',
                announceUserRegister: '',
                announcePassRegister: '',
                announcePassRegisterEnter: '',
                testPass: '',
                checkedLogin: false,
                checkedRegister: false,
                FooterContent: [
                    {
                        Center: 'CanTho University Software Center (CUSC)',
                        Head1: 'Thực hiện đồ án',
                        p1: 'Lập trình web front-end',
                        Head2: 'Thông tin người thực hiện:',
                        Name: 'Họ và tên:',
                        FullName: 'Huỳnh Nguyễn Thanh Điền',
                        TextID: 'Mã số sinh viên:',
                        ID: 'D21039',
                        Class: 'Lớp:',
                        ClassName: 'CP21SCF07',
                        Create: 'Tạo bởi',
                        FirstName: 'Thanh Điền',
                        TextTime: 'Thời gian:',
                        Time: '2021'
                    }
                ]
            },
            methods: {
                TestLogin() {

                    this.checkedLogin = false;
                    this.error = false;
                    this.announceUserLogin = '';
                    this.announcePassLogin = '';

                    if (this.userLogin == '') {
                        this.error = true;
                        this.announceUserLogin += 'Vui lòng nhập tài khoản.';
                    }

                    if (this.passwordLogin == '') {
                        this.error = true;
                        this.announcePassLogin += 'Vui lòng nhập mật khẩu';
                    }

                    this.checkedLogin = true;
                },

                TestRegister() {

                    this.checkedRegister = false;
                    this.error = false;
                    this.announceUserRegister = '';
                    this.announcePassRegister = '';
                    this.announcePassRegisterEnter = '';
                    this.testPass = '';

                    if (this.userRegister == '') {
                        this.error = true;
                        this.announceUserRegister += 'Vui lòng nhập tài khoản.';
                    }

                    if (this.passwordRegister == '') {
                        this.error = true;
                        this.announcePassRegister += 'Vui lòng nhập mật khẩu';
                    }

                    if (this.passwordRegisterEnter == '') {
                        this.error = true;
                        this.announcePassRegisterEnter += 'Vui lòng nhập lại mật khẩu';
                    }

                    if (this.passwordRegister != this.passwordRegisterEnter) {
                        this.error = true;
                        this.testPass += 'Mật khẩu nhập lại không khớp'
                    }

                    this.checkedRegister = true;
                },

                login() {
                    document.getElementById("frmlogin").style.left = "4rem";
                    document.getElementById("frmregister").style.left = "45rem";
                    document.getElementById("btn").style.left = "0rem";
                },

                register() {
                    document.getElementById("frmlogin").style.left = "-40rem";
                    document.getElementById("frmregister").style.left = "4rem";
                    document.getElementById("btn").style.left = "6.5rem";
                }
            }

        })
    </script>

</body>

</html>