/* * */
*{
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
    font-weight: normal;
    font-family: cursive;
}
body{
    background-color: #F2F7FF;
}

img{
    height: 100%;
    object-fit: cover;
}

.start a{
    text-decoration: none;
    border:.1rem solid rgba(17, 0, 255, 0.5);
    border-radius: .5rem;
}

.start a:hover{
    color: white;
    background-color: #0B409C;
}

h2{
    font-size: 3rem;
    color: #0D226B;
    text-decoration: underline #0B409C;
}

p{
    color: gray;
}

h3{
    color: red;
}
/* * */

.btnLogin{
    border-radius: 0.5rem;
    background-color: #FDBE34;
    color: #0B409C;
}

.logo{
    width: 6rem;
}

/* start general  */
.general .box{
    border-radius: 0.5rem;
    border:.1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:white;
}

.general .box:hover{
    transform:translateY(-1rem);
}

.general img{
    height:6rem;
    width:6rem;
}
/* end general  */

/* start landscape */
.landscape .box{
    border-radius: .5rem;
    height: 25rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.3);
    position: relative;
}

.landscape img{
    height: 100%;
}

.landscape .title{
    position: absolute;
    bottom:0; left:0;
    width:100%;
    font-size: 3.5rem;
    color: white;
    background:linear-gradient(transparent, rgba(180, 113, 113, 0.9));
}

.landscape .box:hover .title{
    bottom: -100%;
}

.landscape .content{
    background: white;
    border-radius: .5rem;
    position: absolute;
    bottom:-100%; left:50%;
    transform:translateX(-50%);
    width:90%;
}

.landscape .box:hover .content{
    bottom:2rem;
    transition-delay: 0.2s;
}
/* end landscape */

/* start culinary */
.culinary .box{
    height: 20rem;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
}

.culinary .box img{
    height: 100%;
}

.culinary .content{
    position: absolute;
    bottom:-7rem; left:0;
    width: 100%;
    background: white;
}

.culinary .box:hover .content{
    bottom:0;
}

.culinary .box:hover{
    transform: scale(1.03);
}
/* end culinary */

/* start festival */
.festival .box{
    position: relative;
    border-radius: 0.5rem;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,.9);
    height: 25rem;
    cursor: pointer;
}
  
.festival .box img{
    height: 100%;
}
  
.festival .box .content{
    flex-flow: column;
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:rgba(255,255,255,.8);
    transform: scale(1.3);
    opacity: 0;
}

.festival .box:hover .content{
    transform: scale(1);
    opacity: 1;
}

.festival .box:hover img{
    transform: scale(1.3);
}

.festival p{
    color: black;
}
/* end festival */

/* start architecture */
.architecture .box {
    border-radius: 1.5rem;
    height: 10rem;
    position: relative;
}
  
.architecture .content{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
}
  
.architecture .box:hover .content{
    bottom: 0%;
}
/* end architecture   */

/* start footer */
.footer{
    background-color: #0D226B;
}

.footer p{
    color: white;
}

.footer span{
    color: #FDBE34;
}
/* end footer */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.picture{
    height: 15rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .picture{
        height: 15rem;
    }

    .landscape .box{
        height: 25rem;
    }

    .culinary .box{
        height: 20rem;
    }

    .festival .box{
        height: 20rem;
    }
    .architecture .box {
        height: 25rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .picture{
        height: 20rem;
    }

    .landscape .box{
        height: 28rem;
    }

    .culinary .box{
        height: 20rem;
    }

    .festival .box{
        height: 30rem;
    }

    .architecture .box {
        height: 25rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .picture{
        height: 25rem;
    }

    .landscape .box{
        height: 25rem;
    }

    .culinary .box{
        height: 20rem;
    }

    .festival .box{
        height: 29rem;
    }

    .architecture .box {
        height: 18rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .picture{
        height: 35rem;
    }

    .landscape .box{
        height: 28rem;
    }

    .culinary .box{
        height: 20rem;
    }

    .festival .box{
        height: 30rem;
    }

    .architecture .box {
        height: 25rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    .picture{
        height: 40rem;
    }
    
    .landscape .box{
        height: 30rem;
    }

    .culinary .box{
        height: 25rem;
    }

    .festival .box{
        height: 35rem;
    }

    .architecture .box {
        height: 25rem;
    }
}